# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Результаты сборки
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
Win32/
[Bb]uild/
[Oo]ut/

# Объектные и промежуточные файлы
*.obj
*.o
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.exp

# Временные файлы ОС и офиса
Thumbs.db
desktop.ini
~$*
*.tmp
*.bak